#first{
    display: inline-block;
   background-color: #85C1E9;
    border: 5px solid #2874A6;
   width: 100px;
   height: 100px;
    border-radius:50%;
  margin-bottom: 20px;
    box-shadow: 0px 10px 10px #808B96;
           }
  #second{
    display: inline-block;
    border-left: 100px solid red;
    background-color: green;
    width: 100px;
    border-radius: 20px;
    height: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
           }
  #third{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border: 15px solid transparent;
    background: #000000;
    margin: 10px;
    border-image: linear-gradient(to right top, #0099CC 0%, #F27280 100%);
    border-image-slice: 1;
           }
  
  #fourth{
    border: 5px dashed red;
    width: 200px;
    background-color:pink;
    height: 100px;
    border-radius: 20px;
    border-radius: 100px / 50px;
           }